.main{
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow-y: none;
}

.splinemodel{
    width: 100%;
    height: 100%;
    /* position: absolute; */
    z-index: -1;
}

.splines{
    width: 100vh;
    height: 100vh;
}


@media (max-width: 640px) {
  .main {
      margin-left: 60rem;
  }
  .splinemodel {
      margin-left: 40rem;
      margin-right: 0;
  }
  .splines{
      margin-right: 2rem;
      margin-bottom: 2rem;
  }    
}