/* Sponsors.css */

.main {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow-y: none;
}

.splinemodel {
    width: 100%;
    height: 100%;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.splines {
    width: 100vh;
    height: 100vh;
}

/* Adjustments for medium-sized screens */
@media (min-width: 641px) and (max-width: 750px) {
    .splinemodel {
        width: 70%;
        height: 70vh;
        margin-left: 15%; /* Adjusted margin for centering */
    }
}

/* Adjustments for small screens */
@media (max-width: 640px) {
    .splinemodel {
        width: 80%;
        height: 50vh;
        margin-left: 10%; /* Adjusted margin for centering */
    }
}
