.Page_container{
    height: 100vh;
    width: 100%;
    background-image: url("./landingpage.png");
   
    background-repeat: no-repeat;
    background-position: center;
    
    object-fit: fill;
    background-size:cover;
    overflow: hidden;
    background-position: 0px -65px;
}