/* Card.css */
.card {
  width: 20%;
  display: grid;
  grid-template-rows: 42% 40% 6%;
  grid-template-areas: "image" "text" "stats";
  border-radius: 18px;
  background: #1d1d1d;
  color: white;
  -webkit-box-shadow: -3px 4px 41px 18px rgba(62,199,190,0.68);
  -moz-box-shadow: -3px 4px 41px 18px rgba(62,199,190,0.68);
  box-shadow: -3px 1px 20px 4px rgba(62,199,190,0.68); 
  font-family: New Rocker;
  text-align: justify;
  cursor: pointer;
  margin: 4rem;
  transform-style: preserve-3d;
  transform: perspective(1000px);
  gap: 2rem;
}


.card .card-image {
  grid-area: image;
  background: beige;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
  width: 100%;
}

.card .card-text {
  grid-area: text;
  margin: 2rem 0.5rem 0rem 0rem;
  transform: translateZ(30px);
}

.card .card-text .date {
  color: rgb(255, 7, 110);
  font-size: 1em;
}

.card .card-text p {
  color: grey;
  font-size: 1em;
  font-weight: 300;
}

.card .card-text h2 {
  margin-top: 0px;
  font-size: 1.6em;
}

.card-text a{

  padding: 10px 20px;
  border-radius: 2rem;
  text-decoration: none;
  border: 1px solid #1BF6F6;
  transition: background-color 0.3s ease;
  font-family: Mabry Pro;
  font-size: 1.5em;
  font-style: normal;
  font-weight: 700;
  background: linear-gradient(90deg, #FFF 4.15%, #00FFE0 90.91%);
  background-clip: text;
  margin-top: 2rem;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.card-text a.register:hover {
  background: linear-gradient(90deg, #FFF 0%, #1BC1F6 100%);
  -webkit-text-fill-color: black;

}

.card-text a.register .arrow {
  color: rgb(110, 188, 214); 
}

.card-text a.register:hover .arrow {
  color: black; 
}
.desc {
  color: #ffffff;
  font-family: "Scope One-Regular", Helvetica;
  font-size: 25px;
  font-weight: 400;
  left: 0;
  letter-spacing: 7.5px;
  line-height: normal;
  opacity: 0.8;
  text-align: center;
  top: 0;
}
@media screen and (max-width: 1200px) {
  .card {
    width: 26%;
    margin: 2rem;
  }
  .card .card-text h2 {
    margin-top: 0px;
    font-size: 1.5em;
  }
}

@media screen and (max-width: 1000px) {
  .card {
    width: 30%;
  }
}

@media screen and (max-width: 810px) {
  .card {
    width: 35%;
    margin: 2rem;
  }
}
@media screen and (max-width: 730px) {
  .card {
    width: 38%;
    margin: 2rem;
  }
}
@media screen and (max-width: 635px) {
  .card .card-text h2 {
    margin-top: 0px;
    font-size: 1.25em;
  }
  .card-text a{
    font-size: 1.3em;
    }
}
@media screen and (max-width: 525px) {
  .card {
    width: 50%;
    margin: 2rem;
    grid-template-rows: 40% 40% 8%;
  }
  .card .card-text h2 {
    margin-top: 0px;
    font-size: 1.3em;
  }
  .card-text a{
  font-size: 1em;
  }
}
@media screen and (max-width: 425px) {
  .card {
    width: 50%;
    margin: 2rem;
    grid-template-rows: 38% 35% 8%;
  }
  .card .card-text h2 {
    margin-top: 0px;
    font-size: 1.1em;
  }
}