.main{
    height: 100vh;
    width: 100%;
    position: relative;
    background: black;
}
.splinemodel{
    position: relative;
    width: 15%;
    height: 100vh;
    left: 43%;
    z-index: 1;
}
.overlay-text1, .overlay-text2, .overlay-text3 {
  position: absolute;
  top: 27%;
  left: 26%;
  z-index: -1;
  transform: translateX(-50%);
  font-family: Montserrat;
  font-size: 3.6rem;
  font-style: bold;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 0.12rem;
  text-shadow: 
    -1px -1px 0 #00E0FF,  
     1px -1px 0 #00E0FF,
    -1px 1px 0 #00E0FF,
     1px 1px 0 #00E0FF;
  mix-blend-mode: exclusion;
}


  .overlay-text2 {
    top: 40%;  
    opacity: 1; 
      color: #00E0FF;

}
  .overlay-text3 {
    top: 53%;   
}
  

.competition-container {
  overflow-x: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh; 
    padding-right: 5rem;
    background: black;
  }
  
  @media screen and (max-width: 1270px) {
    .overlay-text1,
    .overlay-text2,
    .overlay-text3 {
        font-size: 3rem;
        letter-spacing: 0.15rem;
    }
    .overlay-text1 {
      top: 33%; 
    }
    .overlay-text2 {
      top: 44%; 
    }
    .overlay-text3 {
      top: 55%; 
    }
}
  @media screen and (max-width: 1130px) {
    .overlay-text1,
    .overlay-text2,
    .overlay-text3 {
        font-size: 2.75rem;
    }
    .overlay-text1 {
      top: 33%; 
    }
    .overlay-text2 {
      top: 44%; 
    }
    .overlay-text3 {
      top: 55%; 
    }
}
  @media screen and (max-width: 1060px) {
    .overlay-text1,
    .overlay-text2,
    .overlay-text3 {
        font-size: 2.58rem;
    }
}
  @media screen and (max-width: 990px) {
    .splinemodel{
      width: 16%;
     
  }
    .overlay-text1,
    .overlay-text2,
    .overlay-text3 {
        font-size: 2.4rem;
    }
}
  @media screen and (max-width: 950px) {
    .splinemodel{
      width: 18%;
      left: 45%;
     
  }
    .overlay-text1,
    .overlay-text2,
    .overlay-text3 {
        font-size: 2.5rem;
        left: 29%;
    }
    .competition-container {
    padding-right: 0rem;
    }
}
  @media screen and (max-width: 870px) {
    .splinemodel{
      width: 20%;
      left: 44.5%;
     
  }
    .overlay-text1,
    .overlay-text2,
    .overlay-text3 {
        font-size: 2.3rem;
        top: 32%;
        left: 29%;
        letter-spacing: 0.24rem;
    }
    .overlay-text2{
      top: 43%;
    }
    .overlay-text3{
      top: 54%;
    }
}
  
  @media screen and (max-width: 815px) {
    .splinemodel{
      width: 20%;
      left: 44.5%;  
  }
    .overlay-text1,
    .overlay-text2,
    .overlay-text3 {
        font-size: 2.2rem;
        letter-spacing: 0.2rem;

    }
    .overlay-text1 {
      top: 33%; 
    }
    .overlay-text2 {
      top: 44%; 
    }
    .overlay-text3 {
      top: 55%; 
    }
}
  @media screen and (max-width: 775px) {
 
    .overlay-text1,
    .overlay-text2,
    .overlay-text3 {
        font-size: 2.1rem;
        letter-spacing: 0.23rem;

    }
    .overlay-text1 {
      top: 34%; 
    }
    .overlay-text2 {
      top: 44%; 
    }
    .overlay-text3 {
      top: 54%; 
    }
}

  
@media screen and (max-width: 750px) {
  .splinemodel{
    width: 20%;
    left: 44.5%;  
}
  .overlay-text1,
  .overlay-text2,
  .overlay-text3 {
      font-size: 1.9rem;
      letter-spacing: 0.3rem;
      left: 30%;
  }
}
@media screen and (max-width: 710px) {
  .splinemodel{
    width: 20%;
    left: 44.5%;  
}
  .overlay-text1,
  .overlay-text2,
  .overlay-text3 {
      font-size: 1.8rem;
      letter-spacing: 0.28rem;
      left: 30%;
  }
}
@media screen and (max-width: 675px) {
  .splinemodel{
    width: 21%;
    left: 43%;
}
  .overlay-text1,
  .overlay-text2,
  .overlay-text3 {
      font-size: 1.7rem;
      letter-spacing: 0.27rem;
      left: 35%;
  }
}
@media screen and (max-width: 640px) {
  .main{
    margin: 0;
  }
  .splinemodel{
    position: relative;
    width: 100%;
    top: 25%;
    left: 0%;
    height: 40%;
}
.overlay-text2{
  top: -30%;
  left: 51%;
}
  .overlay-text1,
  .overlay-text3 {
      display: none;
  }
  .competition-container{
    margin-top: 15rem;
  }
}

@media screen and (max-width: 530px) {
.splinemodel{
  left: 0%;
}
.overlay-text2{
  top: -20%;
  left: 51%;
  font-size: 1.4rem;
  z-index: 100;
}
}

@media screen and (max-width: 460px) {
  .splinemodel{
    left: 0%;
top: 20%;
 }
.overlay-text2{
  top: -20%;
  left: 51%;
  font-size: 1rem;
}
.competition-container{
  margin-top: 10rem;
}
}
@media screen and (max-width: 355px) {

.overlay-text2{
  top: -15%;
  left: 51%;
  font-size: 0.8rem;
}
}
