#about_container
{
  cursor: none;
}
.about_about {
  text-align: center;
  font-family: Nico Moji;
  font-size: 3.5rem;
  font-weight: 400;
  white-space: nowrap;
  color: white;
  /* background: linear-gradient(180deg, #5A708D 0%, #FFF 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  background: linear-gradient(90deg, #002358 0.02%, #000 98.61%);
  
  justify-content: center;
  padding: 1.3rem;
}

.about_box {
  background: linear-gradient(180deg, #000821 24.33%, #001072 100%);
  display: flex;
  flex-direction: column;
  width: 100%;
}

.about_boxes {
  display: flex;
}

.about_box1 {
  width: 50%;
  display: flex;
  justify-content: center;
}

.about_box2 {
  background: linear-gradient(180deg, #2800C8 0%, rgba(0, 0, 0, 0.44) 100%);
  width: 50%;
}

.about_img {
  height: 50rem;
  width: 50rem;
  margin-bottom: 5rem;
  /* -webkit-box-shadow: -3px 4px 41px 18px rgba(62,199,190,0.68);
  -moz-box-shadow: -3px 4px 41px 18px rgba(62,199,190,0.68);
  box-shadow: -3px 1px 20px 4px rgba(62,199,190,0.68);  */
}

.about_text {
  color: #FFF;
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  padding: 1rem;
  margin-top: 13rem;
  align-content: center;
}


.figures_box {
  /* border-radius: 2rem; */
  opacity: 0.6;
  background: linear-gradient(90deg, #002F46 0.17%, #000 99.82%);
  /* box-shadow: 30px 6px 4px 0px rgba(0, 0, 0, 0.50); */
  display: flex;
  padding: 2rem;
  justify-content: space-evenly; 
  align-items: center;
}

.figures_box1 {
  padding: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.figures_img{
  display: flex;
  justify-content: center;
  align-self: center;
}

.figures_img img{
  height: 5rem;
  width: 5rem;
}

.figures_heading {
  color: #00eeff;
  font-family: 'Montserrat', sans-serif;
  font-size: 5rem;
  font-weight: bold;
  text-align: center;
}

.figures_text {
  color: white;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.875rem;
  font-weight: 700;
}

.figures_line {
  background: rgba(255, 255, 255, 0.50);
  height: 17rem;
  width: 0.2rem;
}

.figures{
  display: flex;
  flex-direction: column;
  position: relative;
  top: -6.6rem;
  z-index: 1;
  height: 22.5rem;
}

.clips{
  width: 100%;
  z-index: 10;
  top: 3.5rem;
  position: relative;
  display: flex;
  justify-content: space-around;
  animation: lev 2.1s infinite;
  transition: all linear;
}

.clips img{
 background-color: lightgray 50% / cover no-repeat;
 width: 6.5rem;
}

@keyframes lev {
  0%{
    top: 3.2rem;
  }
  50%{
    top: 3.7rem;
  }
  100%{
    top: 3.2rem;
  }
}

.clips img:nth-child(1){
  position: relative;
  left: 2.5rem;
}
.clips img:nth-child(2){
  position: relative;
  left: 1.5rem;
}
.clips img:nth-child(3){
  position: relative;
  left: 0.6rem;
}
.clips img:nth-child(4){
  position: relative;
  left: -1rem;
}

@media (min-width: 521px) and (max-width: 720px) {
  .about_img {
    height: 37rem;
    width: 37rem;
    margin-left: 3rem;
  }
  .about_text {
    margin-top: 0rem;
    padding-top: 0  ;
    transform: translateX(-1%);
    width: 90%;
  }
  .figures_box {
    flex-direction: column;
    background: 0;
    box-shadow: none;
  }
  .figures_line{
    height: 0.2rem;
    width: 23rem;
  }
  .clips {
    animation: none;
    height: 0;
    width: 0;
  }
  .about_fig {
    margin-bottom: 5rem;
  }  
  .about_box {
    height: 115rem;
  } 
}

@media (min-width: 401px) and (max-width: 520px) {
  .about_about {
    font-size: 2rem;
  } 
  .about_box {
    height: 113rem;
  } 
  .about_img {
    height: 0;
    width: 0;
  }
  .about_text {
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 1rem;
    padding: 1rem;
    right: 10rem;
    margin-bottom: 2rem;
    width: 140%;
  }
  
  .figures_box {
    flex-direction: column;
    background: 0;
    box-shadow: none;
  }
  .figures_line{
    height: 0.2rem;
    width: 23rem;
  }
  .clips {
    animation: none;
    height: 0;
    width: 0;
  }
  .about_fig {
    margin-bottom: 7rem;
  }  
}

@media (max-width: 400px) {
  .about_about {
    font-size: 2rem;
  } 
  .about_box {
    width: 100%;
    height: 132rem;
  } 
  .about_img {
    height: 0;
    width: 0;
  }
  .about_text {
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 1rem;
    padding: 1rem;
    right: 10rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    width: 18rem;
  }
  
  .figures_box {
    flex-direction: column;
    background: 0;
    box-shadow: 0;
    box-shadow: none;
  }
  .figures_line{
    height: 0.2rem;
    width: 23rem;
  }
  .clips {
    animation: none;
    height: 0;
    width: 0;
  }
  .about_fig {
    margin-bottom: 7rem;
  }  
}