.contact-head {
    text-align: center;
    padding: 1.5rem;
    background: linear-gradient(90deg, #002358 0.02%, #000 98.61%);    color: #ffffff;
    margin: 0;
    font-family: Nico Moji;
    font-size: 3.5rem;
    font-weight: 400;
  }

  .contact{
    background: linear-gradient(180deg, rgb(0, 35.4, 88.5) 0%, rgb(0, 0, 0) 100%);
    height: 100vh;
    cursor: none;
  }
  
  .visdme_d{
    cursor: none;
  }
