.card {
    transform-style: preserve-3d;
    position: relative;
    padding: 25px 0;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    background: linear-gradient(180deg, rgb(0.79, 56.23, 73.74) 0%, rgba(3.16, 49.95, 70.01, 0.99) 99.99%);
    transition: all 0.1s ease;
  }
  .card-img {
    position: relative;
    transition: all 0.5s ease;
    mix-blend-mode: lighten;
  }
  .title,
  .card p {
    width: 100%;
    color: rgb(220, 220, 220);
  }

  .title {
    background-color: #00000099;
    padding: 15px 0;
    color: #00ffff;
    font-family: "New Rocker-Regular", Helvetica;
    font-size: 30px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    text-align: center;
    top: 0;
  }

  .card-text {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
  }
  .desc {
    color: #ffffff;
    font-family: "Scope One-Regular", Helvetica;
    font-size: 25px;
    font-weight: 400;
    left: 0;
    letter-spacing: 7.5px;
    line-height: normal;
    opacity: 0.8;
    text-align: center;
    top: 0;
  }
  
  .corner-image {
    position: absolute;
    width: 50px; /* Adjust the size as needed */
    height: 50px; /* Adjust the size as needed */
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.5s ease;
    mix-blend-mode: soft-light;
  }
  
  .top-left {
    top: 0;
    left: 0;
    background-image: url('../images/tree.png');
    transform: rotate(-90deg); 
  }
  
  .top-right {
    top: 0;
    right: 0;
    background-image: url('../images/tree.png');
    
  }
  
  .bottom-left {
    bottom: 0;
    left: 0;
    background-image: url('../images/tree.png');
    transform: rotate(180deg); 
  }
  
  .bottom-right {
    bottom: 0;
    right: 0;
    background-image: url('../images/tree.png');
    transform: rotate(90deg); 
  }
  .events-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5%; /* Adjust as needed */
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2.5%;
    
  }

  .evh {
    text-align: center;
    padding: 2.5%;
    background: linear-gradient(180deg, rgb(0, 35.4, 88.5) 0%, rgb(0, 0, 0) 100%);
    color: #ffffff;
    margin: 0;
  }

  #Events {
    background: linear-gradient(180deg, rgb(0, 35.4, 88.5) 0%, rgb(0, 0, 0) 100%);
    cursor: none;
  }