.Page_container{
    height: 100vh;
    width: 100%;
    background: url("../images/landingpage.png") ;
   
    background-repeat: no-repeat;
   
    
    object-fit: fill;
    background-size:100% 100vh;
    overflow: hidden;
    
}
.Page_container h1{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-size: 160px;
font-style: normal;
font-weight: 800;
line-height: normal;
position: relative;
text-align: center;
top: 20%;
background: linear-gradient(180deg, #00E0FF 0%, #0BC4FF 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
mix-blend-mode: exclusion;
}
.Page_container img{
    position:absolute;
    width: 25%;
    left: -4rem;
    top: -7rem;
}
.menu_option{
 width: 45%;
 height: 10vh;
 position: relative;
 text-align: right;
 top: 10.3rem;
 left: 4rem;
    transform: rotate(12.9deg);
    display: flex;
    justify-content: space-around;
}
.menu_option a{
    width: 140px;
height: 57px;
font-family: Nico Moji;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: normal;
flex-shrink: 0;
background: linear-gradient(180deg, #418AEB 0%, #FFF 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}