.hover-this {
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
  }

  

  .cursor {
    pointer-events: none;
    position: fixed;
    padding: 0.3rem;
    background-color: #fff;
    border-radius: 50%;
    mix-blend-mode: difference;
    transition: transform 0.3s ease;
  }

  .text-element:hover .cursor {
    transform: translate(-50%, -50%) scale(8);
  }

  @media(min-width: 900px) {
    .hover-this {
      display: flex;
      justify-content: space-around;
    }
  }

  @media(max-width: 900px) {
    .hover-this {
      width: 100%;
      padding: 20px 0;
    }
  }