
/* Track */
::-webkit-scrollbar {
  width: 5px; /* Set the width of the scrollbar */
}

/* Handle/Thumb */
::-webkit-scrollbar-thumb {
  background-color: #333; }


/* Track on hover */
::-webkit-scrollbar-track {
  background-color: #212121; /* Set a different color for the track on hover if desired */
}

/* Handle on active */
::-webkit-scrollbar-thumb:active {
  background-color: #555; /* Set a different color when the scroller is clicked */
}


/* Corner */
::-webkit-scrollbar-corner {
  background-color: transparent; /* Set the color of the corner between the vertical and horizontal scrollbars */
}

.hover-this {
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
  }

  

  .cursor {
    pointer-events: none;
    position: fixed;
    padding: 0.3rem;
    background-color: #fff;
    border-radius: 50%;
    mix-blend-mode: difference;
    transition: transform 0.3s ease;
    z-index: 9999;
  }

  .text-element:hover .cursor {
    transform: translate(-50%, -50%) scale(8);
  }

  @media(min-width: 900px) {
    .hover-this {
      display: flex;
      justify-content: space-around;
    }
  }

  @media(max-width: 900px) {
    #home{
      overflow-x: none;
    }
    .hover-this {
      width: 100%;
      padding: 5px 0;
    }
  }

  @media(max-width: 600px) {
    .cursor {
      display: none;
    }
  
    .text-element:hover .cursor {
      display: none;
    }
  }